//Buttons header
.btn-header{
	margin: 8px;
	font-weight: bold;
	background-color: #373737;
	color: #7ac9ed;
	width: 100px;
	
	&:focus{
		background-color: #505050;
		color: #7ac9ed;
	}
	
	&:hover{
		background-color: #505050;
		color: #7ac9ed;
	}
}

//class for sign up button
.btn-signup{
	background-color: #7ac9ed;
	color: #fff;
	
	&:hover, &:focus{
		background-color: #6cbbdf;
		color: #fff;
	}
	
}


.promo-circles{
	margin-top: 50px;
}